<header class="header">
  <div class="container">
    <p>header</p>
    <!-- розміри потрібно визначити свої з макету стилі видалити просто дві svg редагуються через stroke-->
    <svg class="" width="30" height="30" style="stroke: aqua">
      <use href="/img/sprite.svg#icon-exit"></use>
    </svg>
    <svg class="" width="30" height="30" style="stroke: aqua">
      <use href="/img/sprite.svg#icon-burger"></use>
    </svg>
    <svg class="" width="300" height="30" style="fill: aqua">
      <use href="/img/sprite.svg#icon-logo"></use>
    </svg>
  </div>
</header>
