<div id="modal" class="modal">
  <div class="modal-content">
    <!-- Кнопка закриття -->
    <button id="closeModal" class="close-btn">
      <svg class="modal-icons-close" width="20" height="20">
        <use href="/img/sprite.svg#icon-exit"></use>
      </svg>
    </button>
    <div class="modal-body">
      <p class="modal-titel">
        Ordering <span class="modal-titel-purpel">from us </span>is quick and
        easy! Fill out <span class="modal-titel-green">the form</span> below and
        we will contact you !
      </p>

      <!-- Форма -->
      <div class="forma" data-shopnow-form>
        <form class="modal-form">
          <label class="label-forma" for="name">
            <span class="visually-hidden">name</span>
          </label>
          <input
            id="name"
            class="modal-form-input"
            type="text"
            placeholder="Name"
            required
          />

          <label class="label-forma" for="email">
            <span class="visually-hidden">E-mail </span>
          </label>
          <input
            id="email"
            class="modal-form-input"
            type="email"
            placeholder="E-mail"
            required
          />

          <label class="label-forma">
            <span class="visually-hidden">comment</span>
            <textarea
              class="modal-form-textarea"
              placeholder="Comment"
              name="user-comment-shopnow"
              id="user-comment"
            ></textarea>
          </label>

          <!-- Овочеві картки (радіо-кнопки) -->
          <div class="modal-vegetables">
            <div class="card">
              <input
                aria-label="mushrooms"
                type="radio"
                name="product"
                value="mushrooms"
                class="card-radio"
              />
              <p class="card-vegetables-head">mushrooms</p>
              <img
                class="card-img"
                src="/img/vegetables/mushrooms.webp"
                alt="mushrooms"
              />
              <p class="text-card-vegetebles">40 USD / kg</p>
            </div>

            <div class="card">
              <input
                aria-label="leek"
                type="radio"
                name="product"
                value="leek"
                class="card-radio"
              />
              <p class="card-vegetables-head">leek</p>
              <img
                class="card-img"
                src="/img/vegetables/leek.webp"
                alt="leek"
              />
              <p class="text-card-vegetebles">50 USD / kg</p>
            </div>

            <div class="card">
              <input
                aria-label="carrot"
                type="radio"
                name="product"
                value="carrot"
                class="card-radio"
              />
              <p class="card-vegetables-head">carrot</p>
              <img
                class="card-img"
                src="/img/vegetables/carrot.webp"
                alt="carrot"
              />
              <p class="text-card-vegetebles">40 USD / kg</p>
            </div>
          </div>

          <button type="submit" class="submit-btn">Shop now</button>
        </form>
      </div>
    </div>
  </div>
</div>
