<section id="vegetables" class="vegetables">
  <div class="container">
    <h2 class="vegetables-title">
      organic <span class="color-vegetables">vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <div class="vegetables-div">
          <h3 class="vegetables-head">eggplant</h3>
          <p class="text-vegetables">60 USD / kg</p>
          <img
            srcset="
              /img/vegetables/eggplant.webp    1x,
              /img/vegetables/eggplant-2x.webp 2x
            "
            src="/img/vegetables/eggplant.webp"
            class="vegetables-img"
            alt="eggplant"
            width="280"
            height="240"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-div">
          <h3 class="vegetables-head">leek</h3>
          <p class="text-vegetables">50 USD / kg</p>
          <img
            srcset="
              /img/vegetables/leek.webp    1x,
              /img/vegetables/leek-2x.webp 2x
            "
            class="vegetables-img"
            src="/img/vegetables/leek.webp"
            alt="leek"
            width="280"
            height="240"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-div">
          <h3 class="vegetables-head">mushrooms</h3>
          <p class="text-vegetables">40 USD / kg</p>
          <img
            srcset="
              /img/vegetables/mushrooms.webp    1x,
              /img/vegetables/mushrooms-2x.webp 2x
            "
            class="vegetables-img"
            src="/img/vegetables/mushrooms.webp"
            alt="mushrooms"
            width="280"
            height="240"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-div">
          <h3 class="vegetables-head">corn</h3>
          <p class="text-vegetables">60 USD / kg</p>
          <img
            srcset="
              /img/vegetables/corn.webp    1x,
              /img/vegetables/corn-2x.webp 2x
            "
            class="vegetables-img"
            src="/img/vegetables/corn.webp"
            alt="corn"
            width="280"
            height="240"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-div">
          <h3 class="vegetables-head">sweet potatoes</h3>
          <p class="text-vegetables">50 USD / kg</p>
          <img
            srcset="
              /img/vegetables/potato.webp    1x,
              /img/vegetables/potato-2x.webp 2x
            "
            class="vegetables-img"
            src="/img/vegetables/potato.webp"
            alt="sweet potatoes"
            width="280"
            height="240"
          />
        </div>
      </li>
      <li class="vegetables-item">
        <div class="vegetables-div">
          <h3 class="vegetables-head">carrot</h3>
          <p class="text-vegetables">40 USD / kg</p>
          <img
            srcset="
              /img/vegetables/carrot.webp    1x,
              /img/vegetables/carrot-2x.webp 2x
            "
            class="vegetables-img"
            src="/img/vegetables/carrot.webp"
            alt="carrot"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
