<section class="your-order">
  <div class="container">
    <div class="your-order-title-div">
      <h2 class="your-order-title">Fresh <span class="your-order-title-span">Harvest</span> Box has got you covered</h2>
      <p class="your-order-text">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local
      farmers. Order your box today and start enjoying the best that nature has to offer!</p>
    </div>
    <div class="your-order-section">
      <div class="your-order-block">
        <h3 class="your-order-block-title">Ordering 
          <span class="block-title-span-first">from us</span> 
          is quick and easy! Fill out 
          <span class="block-title-span-second">the form</span> 
          below and we will contact you !
        </h3>
        <div class="input">
          <form class="your-order-form">
            <input type="text" class="your-order-input your-order-input-name" name="user-name" placeholder="Full Name" minlength="3" required id="user-name">
            <p class="text-valid-name">Succes!</p>
            <p class="text-invalid-name">The name must contain at least 3 letters!</p>
            <input type="email" class="your-order-input your-order-input-email" name="user-email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" placeholder="Email" required id="user-email">
            <p class="text-valid-email">Succes!</p>
            <p class="text-invalid-email">Invalid email, try again</p>
            <textarea class="your-order-textarea" name="user-comment" id="user-comment" pattern="^[A-Za-z\s-]{1,}$" placeholder="Comment"></textarea>
            <button class="your-order-block-btn" type="submit">send</button>
          </form>

        </div>
      </div>
      <div class="soc">
        <picture>
          <source media="(min-width: 1280px)" srcset="/img/your-order/order_desk.webp    1x, 
                                                      /img/your-order/order_desk@2x.webp 2x">
          <source media="(min-width: 768px)" srcset="/img/your-order/order_tab.webp     1x, 
                                                      /img/your-order/order_tab@2x.webp 2x">
          <source media="(max-width: 767px)" srcset="/img/your-order/order_mob.webp     1x, 
                                                      /img/your-order/order_mob@2x.webp 2x">
                          <img class="soc-img" src="/img/your-order/order_desk.webp" alt="Cooking">
                        </picture>
        <div class="soc-block">
          <p class="soc-block-text">Follow us on our social networks:</p>
          <ul class="soc-block-list">
            <li class="soc-block-item">
              <a class="soc-block-link" href="https://www.instagram.com/goitclub/">instagram</a>
            </li>
            <li class="soc-block-item">
              <a class="soc-block-link" href="https://www.facebook.com/goITclub/">facebook</a>
            </li>
            <li class="soc-block-item">
              <a class="soc-block-link" href="https://www.youtube.com/c/GoIT">youtube</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
