.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7a3145;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-icon {
  width: 168px;
  height: 16px;
}

.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #fbfbfb;
}
.footer-address-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer-section-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-section-item {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.footer-address {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 14px;
}
.footer-tel,
.address-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  color: #fbfbfb;
}

.footer-privacy-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.separator {
  margin: 0 8px;
}
.footer-span,
.footer-text-harvest {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: #d4bfc4;
}
@media (min-width: 768px) {
  .footer {
    padding: 32px 0;
  }
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
  }
  .footer-logo-container {
    gap: 24px;
  }
  .footer-icon {
    width: 216px;
    height: 20px;
  }
  .footer-text {
    max-width: 265px;
    font-size: 16px;
    line-height: 1.25;
  }
  .footer-section-list {
    gap: 24px;
  }
  .footer-address-container {
    gap: 64px;
  }
  .footer-address {
    gap: 24px;
    margin-bottom: 0;
  }
  .footer-tel,
  .address-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .footer-privacy-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-privacy-container:last-child {
    margin-left: auto;
  }
  .footer-span,
  .footer-text-harvest {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 52px 0;
  }
  .footer-address-container {
    flex-direction: row;
    gap: 121px;
  }
}
