/*header*/

.header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 100%;
}

.header .container {
  display: flex;
  align-items: center;
}

.link-logo {
  display: flex;
  align-items: center;
}

.logo-header {
  width: 168px;
  height: 16px;
  fill: #fbfbfb;
}
.overlay,
.header-menu {
  display: none;
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}
.burger-icon {
  stroke: #fbfbfb;
  stroke-width: 3px;
  width: 22px;
  height: 16px;
}

/* mobile menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #576f35;    
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
}

.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 60px;
}

.mobile-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
     
}

.mobile-icons-close {
  width: 16px;
  height: 16px;
  stroke-width: 3px;
  stroke: #fbfbfb;
}


.mobile-navigation {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}
.menu-item {
  width: 118px;
  height: 44px;
}
.link-menu {
  display: block;
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  background-color: transparent;
  color: #fbfbfb;
  padding: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
}

.link-menu.active {
  background-color: #fbfbfb;
  color: #7a3145;
}

.link-menu:active {
  background-color: #fbfbfb;
  color: #7a3145;
}

.btn-menu {
  border: none;
  padding: 16px 41px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.btn-menu:active {
  background-color: #fbfbfb;
  color:  #7a3145;
}

@media (min-width: 768px) {
.header {
    top: 32px;
}

.logo-header {
    width: 216px;
    height: 20px;
}

.link-menu {
  font-size: 16px;
  line-height: 1.25;
}

.mobile-menu-container {
  padding-top: 80px;
}

.mobile-icons-close {
  width: 20px;
  height: 20px;
}

.burger-btn {
    width: 40px;
    height: 40px
}
.burger-icon {
    width: 27px;
    height: 20px;
}
.mobile-menu {
    width: 351px;
    height: 100vh;
}

.menu-item {
    width: 122px;
}

.btn-menu {
  padding: 16px 32px;
}

.mobile-menu-close {
  top: 32px;
  right: 32px;
}

.overlay {
  display: block;
}
/*overlay*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  z-index: 99;
}
.mobile-menu.is-open ~ .overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
}

@media (min-width: 1280px) {
.overlay,
.mobile-menu,
.burger-btn {
   display: none;
}
    
.header-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.menu-list {
    flex-direction: row;
    gap: 8px;
    margin-bottom: 0;
    margin-right: 20px;
}

.menu-item {
   display: flex;
   width: auto;
   height: auto;
}

.link-menu {
    display: inline;
}

.link-menu:hover,
.link-menu:focus {
    border-color: #d4bfc4;;
    background-color: #d4bfc4;
    color: #7a3145;
    outline: none;
}

.link-menu:active {
    border-color: #fbfbfb;
    background-color: #fbfbfb;
    color: #7a3145;
}

.btn-menu:hover,
.btn-menu:focus {
    background-color: #d4bfc4;
    color: #7a3145;
    outline: none;
}
.btn-menu:active {
    border-color: #fbfbfb;
    background-color: #fbfbfb;
    color: #7a3145;
}

}