.hero {
  padding: 0;
}
.hero-container {
  padding: 0;
}
.hero-text {
  background-color: #576f35;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 100px 20px 40px 20px;
}
.hero-header {
  font-family: inherit;
  font-weight: 600;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
@media only screen and (max-width: 345px) {
  .hero-header {
    font-size: 48px;
  }
}
.promo {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #fbfbfb;
}
.text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.image-container {
  width: 100%;
  height: 372px;
  background: url('../img/hero/hero-mob.webp') no-repeat center center/cover;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .image-container {
    background: url('../img/hero/hero-mob@2x.webp') no-repeat center center;
    background-size: cover;
  }
}
@media only screen and (min-width: 768px) {
  .image-container {
    background: url('../img/hero/hero-tablet.webp') no-repeat center center;
    background-size: cover;
    height: 536px;
  }
  .hero-text {
    padding: 100px 32px 52px 32px;
  }
  .hero-header {
    font-size: 76px;
  }
  .promo {
    font-size: 16px;
    line-height: 1.25;
    width: 603px;
    height: auto;
  }
  .text-wrapper {
    gap: 24px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px) {
  .image-container {
    background: url('../img/hero/hero-tablet@2x.webp') no-repeat center center;
    background-size: cover;
  }
}
@media only screen and (min-width: 1280px) {
  .image-container {
    background: url('../img/hero/hero-desktop.webp') no-repeat center center;
    background-size: cover;
  }
  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 796px;
  }
  .hero-text,
  .image-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .hero-text {
    padding: 232px 38px 52px 100px;
  }
  .text-wrapper {
    width: 504px;
    height: auto;
    gap: 128px;
  }
  .hero-header {
    width: 502px;
  }
  .promo {
    width: 472px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px),
  (min-resolution: 192dpi) and (min-width: 1280px) {
  .image-container {
    background: url('../img/hero/hero-desktop@2x.webp') no-repeat center center;
    background-size: cover;
  }
}
