.how-text{
    font-weight: 600;
        font-size: 28px;
        line-height: 1;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
}

.div-blockimg{
    min-width: 375px;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a3145;
    padding: 40px 20px;

}
.second-sectionhow{
    min-width: 375px;
    padding: 80px 20px;
    background-color: #576f35;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */

}
.how-text{
    margin-bottom: 20px;
    width: 335px;
    height: 112px;
}
.how-undertext{
    margin-bottom: 40px;
        font-size: 14px;
        line-height: 1.42857;
        color: #fbfbfb;
        width: 335px;
        height: 60px;
}


.span-items{
    font-weight: 700;
        color: #141414;
}
   .how-list {
       counter-reset: list-counter;
    padding-left: 0;
    display: flex;
        flex-direction: column;
        gap: 20px;
   }

   .how-items {
       list-style: none;
       position: relative;
        background-color: #fbfbfb;
            border-radius: 15px;
            padding: 12px 27px 12px 100px;
            width: 335px;
            height: 84px;
            font-size: 14px;
            line-height: 1.42857;
            color: #858585;
   }

   .how-items::before {
       content: counter(list-counter) "";
       counter-increment: list-counter;
       position: absolute;
       left: 24px;
       top: 16px;
    font-weight: 600;
        font-size: 18px;
        line-height: 1.11111;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        border-radius:100%;
            background-color: #7a3145;
            width: 52px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 0 5px #D4BFC4;
   }
 /* .container-how{
display: flex;
flex-direction: column;
    justify-content: center;
    align-items: center;
 } */