/* Модальне вікно */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* Контент модалки */
.modal-content {
  background: white;
  padding: 52px 48px;
  border-radius: 30px;
  border: 3px solid #576f35;
  width: 524px;

  position: relative;
}

/* Кнопка закриття */
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #576f35;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transform: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icons-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  stroke: #fff;
  transform: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus,
.close-btn:active {
  background-color: #3c4c25;
}

.modal-icons-close:hover,
.modal-icons-close:focus,
.modal-icons-close:active {
  stroke: #ffffff;
}

/* Контент модалки */

.modal-content {
  background-color: #fbfbfb;
  padding: 52px 48px;
  border-radius: 30px;
  max-width: 524px;
  position: relative;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 52px;
  max-width: 428px;
}

.modal-titel {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 32px;

  /* line-height: 32px; */
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.modal-titel-purpel {
  color: #7a3145;
}

.modal-titel-green {
  color: #576f35;
}

/* Кнопка закриття */
.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

/* Форма */
.modal-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.forma {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.modal-form-input {
  background-color: transparent;
  outline: transparent;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #858585;
  border-radius: 30px;
  padding: 16px;
  width: 428px;
  max-height: 52px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.25;
  border: 1px solid #858585;
  background-color: transparent;
  outline: transparent;
  border-radius: 15px;
  padding: 16px;
  width: 428px;
  max-height: 96px;
  resize: none;
  overflow-y: auto;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Стилі для плейсхолдера у input */
.modal-form input::placeholder {
  display: inline-block;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #141414;
}

.modal-form textarea::placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #141414;
}

.modal-form input:focus,
.modal-form input:hover,
.modal-form textarea:hover,
.modal-form textarea:focus {
  border-color: #7a3145;
}

.modal-form-input:not(:placeholder-shown):invalid {
  border: 1px solid #e74a3b;
  margin-bottom: 0px;
}

.modal-form-textarea:not(:placeholder-shown):invalid {
  border: 1px solid #e74a3b;
}

.modal-form-input:not(:placeholder-shown):valid {
  border: 1px solid #3cbc81;
  margin-bottom: 0px;
}

.modal-form-textarea:not(:placeholder-shown):valid {
  border: 1px solid #3cbc81;
}

.modal-form-input:not(:placeholder-shown):valid ~ .text-valid-email,
.modal-form-input:not(:placeholder-shown):invalid ~ .text-invalid-email {
  display: block;
}

.modal-form-input:not(:placeholder-shown):valid ~ .text-valid-name,
.modal-form-input:not(:placeholder-shown):invalid ~ .text-invalid-name {
  display: block;
}

/* Кнопка відправки */
.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  border-radius: 30px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 428px;
  max-width: 100%;
  height: 52px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11111;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  background: #7a3145;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
  background-color: #9e405a;
  color: #eeeeee;
}

.submit-btn:active {
  background-color: #e1e1e1;
  color: #7a3145;
}

/* Овочеві картки */
.modal-vegetables {
  display: flex;
  flex-direction: row;
  background: #fbfbfb;
  justify-content: space-around;
  margin-top: 20px;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background-color: #7a3145;
  text-align: center;
  border-radius: 15%;
  padding: 8px;
  min-width: 130px;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-vegetables-head {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #fdfdfd;
}

.text-card-vegetebles {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: #fdfdfd;
}

.card-img {
  width: 100%;
  max-height: 100px;
  overflow: cover;
  border-radius: 25%;
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-img:hover,
.card-img:focus {
  background-color: #e1e1e1;
}

.card:hover,
.card:focus {
  background-color: #9e405a;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Адаптив для планшетів (max-width: 7px) */

@media (min-width: 768px) and (max-width: 1279px) {
  .modal-content {
    width: 90%;
    max-width: 450px;
    padding: 40px;
  }
  .modal-vegetables {
    overflow-x: auto;
    border: 2px solid #7a3145;
    border-radius: 30px;
  }

  .modal-body {
    gap: 40px;
    max-width: 100%;
  }

  .forma,
  .modal-form,
  .modal-body {
    width: 100%;
  }

  .modal-form-input,
  .modal-form-textarea,
  .submit-btn {
    width: 100%;
  }

  .label-forma {
        width: 100%;
  }

  .modal-titel {
    font-size: 28px;
  }

  .close-btn {
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
  }
}

/* Адаптив для мобільних пристроїв (max-width: 320px) */
@media (max-width: 767px) {
  .modal-vegetables {
    overflow-x: auto;
    border: 2px solid #7a3145;
    border-radius: 30px;
  }
  .modal-content {
    max-width: 365px;
    height: 100%;
    padding: 30px 20px;
    border-radius: 20px;
  }

  .modal-body {
    max-width: 280px;
    gap: 35px;
  }

  .vegetables {
    margin-top: 50px;
  }

  .forma {
    max-width: 280px;
    gap: 35px;
  }

  .modal-form {
    max-width: 375px;
  }

  .modal-form-input,
  .modal-form-textarea,
  .submit-btn {
    max-width: 310px;
    padding: 12px;
  }

  .submit-btn {
    font-size: 16px;
    height: 48px;
  }

  .modal-titel {
    font-size: 24px;
  }

  .close-btn {
    width: 28px;
    height: 28px;
    top: 12px;
    right: 12px;
  }
}
