.your-order {
    background-color: #576F35;
}

.your-order-title-div {
    max-width: 335px;
}

.your-order-title {
    color: #FBFBFB;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.08;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.your-order-title-span {
    color: #D4BFC4;
}

.your-order-text {
    color: #FBFBFB;
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 40px;
}

.your-order-block {
    padding: 40px 20px;
    margin-bottom: 20px;
    background-color: #FBFBFB;
    border-radius: 30px;
}

.your-order-block-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.053em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.block-title-span-first {
    color: #7A3145
}

.block-title-span-second {
    color: #576F35;
}



.your-order-field {
    max-width: 100%;
    margin-bottom: 16px;
}

.your-order-input {
    width: 100%;
    padding: 14px 0 14px 16px;
    border: 1px solid #858585; 
    border-radius: 30px;
    outline: none;
    margin-bottom: 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.your-order-input::placeholder {
    color: #141414;
    font-size: 14px;
    line-height: 1.43;
}

.your-order-textarea {
    min-width: 100%;
    height: 92px;
    padding: 14px 0px 0px 16px;
    border: 1px solid #858585;
    border-radius: 30px;
    margin-bottom: 20px;
    resize: none;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.your-order-textarea::placeholder {
    color: #141414;
    font-size: 14px;
    line-height: 1.43;
    margin: 0;
}

.your-order-input:hover {
    border: 1px solid #7A3145;
    outline: transparent;
}

.your-order-textarea:hover {
    border: 1px solid #7A3145;
    outline: transparent;
}

.your-order-input:focus {
    border: 1px solid #7A3145;
    outline: transparent;
}

.your-order-textarea:focus {
    border: 1px solid #7A3145;
    outline: transparent;
}

.your-order-input-email:not(:placeholder-shown):invalid,
.your-order-input-name:not(:placeholder-shown):invalid {
    border: 1px solid #E74A3B;
    margin-bottom: 0px;
}

.your-order-textarea:not(:placeholder-shown):invalid {
    border: 1px solid #E74A3B;
    }

.your-order-input-email:not(:placeholder-shown):valid,
.your-order-input-name:not(:placeholder-shown):valid {
    border: 1px solid #3CBC81;
    margin-bottom: 0px;
}

.your-order-textarea:not(:placeholder-shown):valid {
    border: 1px solid #3CBC81;
}

.text-valid-email,
.text-invalid-email,
.text-valid-name,
.text-invalid-name {
    color: #141414;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-bottom: 3px;
    padding-top: 2px;
}

.text-valid-email,
.text-valid-name {
    color: #3CBC81;
}

.text-invalid-email,
.text-invalid-name {
    color: #E74A3B;
}

.your-order-input-email:not(:placeholder-shown):valid~.text-valid-email,
.your-order-input-email:not(:placeholder-shown):invalid~.text-invalid-email {
    display: block;
}

.text-valid-email,
.text-invalid-email,
.text-valid-name,
.text-invalid-name {
    display: none;
}

.your-order-input-name:not(:placeholder-shown):valid~.text-valid-name,
.your-order-input-name:not(:placeholder-shown):invalid~.text-invalid-name {
    display: block;
}

.your-order-block-btn {
    width: 100%;
    height: 52px;
    border: none;
    margin-bottom: auto;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.your-order-block-btn:active {
    background-color: #FBFBFB;
    color: #7A3145;
}

.soc {
    background-color: #7A3145;
    padding: 40px 20px;
    border-radius: 30px;
}

.soc-img {
    border-radius: 15px;
    margin-bottom: 20px;
}

.soc-block {
    max-width: 295px;
}

.soc-block-text {
    color: #D4BFC4;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.43;
    margin-bottom: 16px;
}

.soc-block-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.soc-block-link {
    color: #FBFBFB;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11;
    letter-spacing: -0.015em;
    text-transform: uppercase;
}

.soc-block-item::after {
    content: "/";
    margin-left: 8px;
    color: #FBFBFB;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.11;
    letter-spacing: -0.015em;
}

.soc-block-item:last-child::after {
    content: none;
}

@media only screen and (min-width: 331px) {
.your-order-block-title {
    font-size: 28px;
}
}

@media only screen and (min-width: 768px) {
.your-order-title-div {
    max-width: 640px;
}

.your-order-title {
    font-size: 64px;
    line-height: 1;
}

.your-order-section {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
}

.your-order-text {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 52px;
}

.your-order-block {
    padding: 72px 100px;
    margin-bottom: 32px;
}

.your-order-block-title {
    font-size: 32px;
    letter-spacing: -0.015em;
    margin-bottom: 52px;
}

.your-order-input {
    padding: 16px 0 16px 16px;
}

.your-order-input::placeholder {
    color: #141414;
    font-size: 16px;
    line-height: 1.25;
}

.your-order-textarea {
    height: 96px;
    padding: 16px 0px 0px 16px;
    margin-bottom: 24px;
}

.your-order-textarea::placeholder {
    color: #141414;
    font-size: 16px;
    line-height: 1.25;
}

.soc {
    padding: 52px;
}

.soc-img {
    margin-bottom: 52px;
}

.soc-block-text {
    font-size: 16px;
    line-height: 1.25;
}

.soc-block {
    min-width: 100%;
}

.soc-block-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
}

@media only screen and (min-width: 1280px) {

.your-order-title-div {
    max-width: 751px;
}
.your-order-title {
    margin-bottom: 24px;
}

.your-order-section {
    max-width: 100%;
    margin: 0;
    display: flex;
    gap: 32px;
}

.your-order-block {
    width: 100%;
    padding: 52px 48px;
    margin-bottom: 0px;
}

.soc {
    width: 100%;
    padding: 52px 48px;
}

.soc-img {
    margin-bottom: 80px;
}

.your-order-block-btn:hover,
.your-order-block-btn:focus {
    background-color: #d4bfc4;
    color: #7a3145;
    outline: none;
}

.your-order-block-btn:active {
    background-color: #FBFBFB;
    color: #7a3145;
    border: solid 1px #3CBC81;
}
}

/*    MODAL     */
.order-modal {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.order-modal-container {
    width: 335px;
    min-height: 350px;
    border-radius: 30px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-order-close {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 0;
    margin-left: auto;
    display: block;
    background-color: #FBFBFB;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icons-close-modal {
    stroke: #7A3145;
}

.mobile-order-close:active {
    background-color: #7A3145;
}

.mobile-order-close:active>.mobile-icons-close-modal {
    stroke: #FBFBFB
}

.modal-text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    text-align: center;
}

.modal-text-second {
    margin-top: 0px;
}

.mobile-order-ok-btn {
    width: 100%;
    height: 52px;
    border: none;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-order-ok-btn:active {
    background-color: #FBFBFB;
    color: #7A3145;
}


@media only screen and (min-width: 768px) {
.order-modal-container {
    width: 435px;
    border-radius: 30px;
}
}


@media only screen and (min-width: 1280px) {

.mobile-order-close:hover,
.mobile-order-close:focus {
    background-color: #d4bfc4;
}

.mobile-order-ok-btn:hover,
.mobile-order-ok-btn:focus {
    background-color: #d4bfc4;
    color: #7a3145;
    outline: none;
}

.mobile-order-ok-btn:active {
    border-color: #fbfbfb;
    background-color: #fbfbfb;
    color: #7a3145;
}
}